<!DOCTYPE html>
<html lang="en">


<head>
  
    <title>Profil</title>
  
</head>

<body>
    


       

        <!-- start section sidebar -->
        <app-menu></app-menu>
        <!-- End section sidebar -->


        <!-- start section header -->
        <app-headbar></app-headbar>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="main_container">


                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">Profil Docteur </h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/tableau">Acceuil</a></li>
                                <li class="breadcrumb-item active"><a routerLink="/profil">Profil</a>
                                </li>
                            </ol>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between doctor-info-details">
                                        <div class="d-flex left-content">
                                            <div class="media align-self-start">
                                                <img alt="image" class="rounded-circle shadow" width="90" src="assets/images/11.jpg">
                                                <div class="pulse-css"></div>
                                            </div>
                                            <div class="media-body">
                                                <h2 class="mb-2">Dr. Ghada SGHAIER</h2>
                                                <p class="mb-md-2 mb-sm-4 mb-2">Médecin de Famille</p>
                                                <div class="star-review">
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-gray"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-style-1">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="form-content">
                                                <a href="#">
                                                    <span class="ml-2">Appointment</span>
                                                </a>
                                                <a href="#">
                                                    <span class="ml-2">Edit</span>
                                                </a>
                                                <a href="#">
                                                    <span class="ml-2">Delete </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="doctor-info-content">
                                
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card m-t-30">
                                            <div class="card-body">
                                                <p>Médecin généraliste avec habilitation en médecine de famille. Dynamique et capable de s’intégrer rapidement. Ayant une bonne capacité à travailler au sein d’une  équipe et un bon sens de communication.
                                                </p>
                                                <h6>Attestations</h6>
                                                <ul>
                                                    <li> de participation aux travaux de la 6ème journée du Médecin de Famille Grand Tunis </li>
                                                    <li>Attestation de participation à l’atelier de l’approche diététique chez l’enfant obèse </li>
                                                    <li> Attestation de participation à l’atelier de l’examen d’une épaule douloureuse  </li>
                                               
                                                    <li> Certificat de succès de stage au département de biochimie et de biologie moléculaire de l’Université d’Indonésie. </li>
                                                </ul>
                                                <p>
                                                    
                                                    « Les médecins de famille sont des généralistes hautement qualifiés, des leaders, des militants, des enseignants et des chercheurs qui s’adaptent aux besoins de leurs patients et de leur communauté. » 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card m-t-30">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user1.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user2.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user3.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user4.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user5.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <div class="items p-4 mb-4">
                                                            <div class="bootstrap-media">
                                                                <div class="d-flex media">
                                                                    <img class="mr-3 img-fluid rounded" width="60" src="assets/images/patients/user6.jpg" alt="DexignZone">
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            <h4 class="mt-0 mb-1">Pt. Airi Satou </h4>
                                                                        </a>
                                                                        <p class="mb-0">Rabat, Maroc</p>
                                                                    </div>
                                                                    <div class="btn-group btn-group-style-1">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-content">
                                                                                <a href="#">
                                                                                    <span class="ml-2">Edit</span>
                                                                                </a>
                                                                                <a href="#">
                                                                                    <span class="ml-2">Delete </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-header fix-card">
                                    <div class="row">
                                        <div class="col-8">
                                            <h4 class="card-title">Rendez vous </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example1" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Heure</th>
                                                    <th>Date</th>
                                                    <th>Patient</th>
                                                    <th>Addresse</th>
                                                    <th>Tel</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        07:00
                                                    </td>
                                                    <td>01 fev 2023</td>
                                                    <td> Michael R Sheets </td>
                                                    <td> 1468 Selah Way - Rabat</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        07:30
                                                    </td>
                                                    <td>02 fev 2023</td>
                                                    <td> Eric J Lane</td>
                                                    <td>1468 Selah Way - Agadir</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        08:00
                                                    </td>
                                                    <td>03 fev 2023</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>1468 Selah Way - Casablanca</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        08:30
                                                    </td>
                                                    <td>04 fev 2023</td>
                                                    <td> Chelsea S Coy
                                                    </td>
                                                    <td>1468 Selah Way - Fes </td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        09:00
                                                    </td>
                                                    <td>05 fev 2023</td>
                                                    <td> Michael R Sheets
                                                    </td>
                                                    <td> 1468 Selah Way - Oujda</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        09:30
                                                    </td>
                                                    <td>06 fev 2023</td>
                                                    <td>Eric J Lane</td>
                                                    <td>1468 Selah Way - Marakesh</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 10:00 </td>
                                                    <td>07 fev 2023</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>1468 Selah Way - Lexington</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 10:30 </td>
                                                    <td>08 fev 2023</td>
                                                    <td> Chelsea S Coy </td>
                                                    <td>1468 Selah Way - Bakersfield </td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 11:00 </td>
                                                    <td>09 Jun 2023</td>
                                                    <td> Michael R Sheets </td>
                                                    <td> 1468 Selah Way - Brattleboro</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 11:30 </td>
                                                    <td>10 Jun 2023</td>
                                                    <td> Eric J Lane</td>
                                                    <td>1468 Selah Way - Laayoune</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 09:00 </td>
                                                    <td>11 Jun 2023</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>2320 May Street - Lexington</td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                                <tr>
                                                    <td> 09:00 </td>
                                                    <td>12 Jun 2023</td>
                                                    <td> Chelsea S Coy </td>
                                                    <td>3342 Lowndes Hill - Berrechid </td>
                                                    <td>833 - 844 - 0100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Notifications</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="widget-timline list-unstyled">
                                        <li>
                                            <div class="timeline-dots border-success"></div>
                                            <h4 class="mb-1">Dr. Souisi Send you Photo</h4>
                                            <p class="mb-0">10 janvier 2023</p>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-danger"></div>
                                            <h4 class="mb-1">Reminder : Opertion Time!</h4>
                                            <p class="mb-0">12 janvier 2023</p>
                                        </li>
                                        <li>
                                            <div class="timeline-dots border-primary"></div>
                                            <h4 class="mb-1">Appels patients</h4>
                                            <p class="mb-0">12 décembre 2022</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Evolution du travail</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="widget-progress list-unstyled">
                                        <li>
                                            <h4 class="mb-1">OPD</h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="mb-1">Opérations</h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="mb-1">visites Patient</h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


 
    <!-- End section content -->


    <!-- start section footer -->
    <div class="footer ">
        <div class="copyright ">
            <p class="mb-0">Copyright © Designed &amp; Developed by <a href="#" target="_blank">Feriel&Oumaima</a> 2022-2023
            </p>
        </div>
    </div>
    <!-- End section footer -->


 


</body>


</html>