<!DOCTYPE html>
<html lang="en">


<head>

    <title>Connexion</title>

</head>

<body>
    <div id="main-wrapper" class="show">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 p-0 b-center bg-size">
                    <img class="img-fluid" src="assets/images/bg-register.jpg" alt="tabib app">
                </div>
                <div class="col-xl-5 p-0">
                    <div class="login-tabib">
                        <div>
                            <div class="text-center">
                                <a class="logo" href="index.html">
                                    <img class="img-fluid" src="assets/images/drtech2.png" alt="loogin page">
                                </a>
                            </div>
                            <div class="login-main">
                                <form class="theme-form">
                                    <h4>Connexion</h4>
                                    <p>Entrez votre email & mot de passe pour se connecter </p>
                                    <div class="form-group m-b-10">
                                        <label class="col-form-label">Adresse Email</label>
                                        <input class="form-control" type="email" placeholder="DrTech@gmail.com">
                                    </div>
                                    <div class="form-group m-b-10">
                                        <label class="col-form-label">Mot de passe</label>
                                        <div class="form-input position-relative">
                                            <input class="form-control" type="password" placeholder="*********">
                                            <div class="show-hide"><span class="show"></span></div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        
                                        <div class="mt-3">
                                            <a href="index.html" class="btn btn-primary w-100" type="submit" routerLink="/tableau">Se connecter</a>
                                        </div>
                                    </div>
                                    <p class="mt-4 mb-0">Vous n'avez pas de compte ?<a class="ms-2 text-primary text-center"  routerLink="/register">Créer un compte</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>


</html>