    <!-- start logo components -->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html"> <img class="logo-tabib" src="assets/images/new.png" alt=""></a>
            <a href="index.html"><img class="brand-title" src="assets/images/drtech2.png" alt=""></a>
        </div>
    </div>
<aside class="left-panel nicescroll-box">
    <nav class="navigation">
        <ul class="list-unstyled main-menu">
            <li class="has-submenu">
                <a >
                    <i class="fas fa-th-large"></i>
                    <span class="nav-label" routerLink="/tableau">Tableau</span>
                </a>
            </li>
            <li class="has-submenu">
                <a >
                    <i class="fas fa-user-nurse"></i>
                    <span class="nav-label" routerLink="/ajouter-docteur">Nouveau Docteur</span>
                </a>
            </li>
            <li class="has-submenu">
            <a  >
                <i class="fas fa-users"></i>
                    <span class="nav-label" routerLink="/liste-docteur">Tous les Docteurs</span>
                </a>
               
            </li>
            <li class="has-submenu">
                <a  >
                    <i class="fas fa-user"></i>
                        <span class="nav-label" routerLink="/ajouter-patient">Nouveau Patient</span>
                    </a>
                </li>
                <li class="has-submenu">
                    <a  >
                        <i class="fas fa-heartbeat"></i>
                            <span class="nav-label" routerLink="/fiche-patient">Nouvelle Fiche Patient</span>
                        </a>
                    </li>
           

            <li class="has-submenu">
                <a >
                    <i class="fas fa-calendar-alt"></i>
                    <span class="nav-label" routerLink="/calendrier">calendrier</span>
                </a>
            </li>
            <li class="has-submenu">
                <a >
                    <i class="fas fa-file-invoice"></i>
                    <span class="nav-label" routerLink="/creation-facture">Facturation</span>
                </a>
            </li>
            
            <li class="has-submenu">
                <a routerLink="/login">
                    <i class="fa fa-tag"></i>
                    <span class="nav-label">Déconnexion</span>
                </a>
                
            </li>
        </ul>
    </nav>
    <div class="sidebar-widgets">
        <div class="top-sidebar box-shadow mx-25 m-b-30 p-b-20 text-center">
            <a href="new-appointment.html">
                <img src="assets/images/appointement.svg" class="side-img" alt="img">
            </a>
            <a href="#">
                <h4 class="text-primary mb-0">Dr.Tech pour votre santé</h4>
            </a>
        </div>
        <div class="copyright text-center">
            <p class="mb-0"> Dr.Tech Tableau de board</p>
            <p class="mb-0"> © 2022-2023 </p>
        </div>
    </div>
</aside>