<!DOCTYPE html>
<html lang="en">


<head>
    
    <title>Tableau</title>
    
</head>

<body>
    <div id="main-wrapper" class="show">


     <app-headbar></app-headbar>
     <app-menu></app-menu>


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-lg-12 p-md-0">
                        <h4 class="text-primary">Bonjour <span class="names" >Docteur </span ><span [ngStyle]="{color: couleur}">{{nom}} </span></h4>
                        <p class="mb-0">Dr.Tech, toujours pour votre santé !</p>
                    </div>
                </div>
                <div class="new-patients main_container">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-calendar-check fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">gains</span>
                                            <h3 class="mb-0 text-white">7699</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-danger">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-user-nurse fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Patients</span>
                                            <h3 class="mb-0 text-white">400</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-user-plus fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Rendez-vous</span>
                                            <h3 class="mb-0 text-white">1360</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-database fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Gain total</span>
                                            <h3 class="mb-0 text-white">6500 dinar</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card shadow widget1">
                                <div class="card-header">
                                    <h4 class="card-title">Activité</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <canvas id="chart1" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow widget-2">
                                <div class="card-header">
                                    <h4 class="card-title">Patient</h4>
                                </div>
                                <div class="card-body">
                                    <div class="panel-body widget-media main-scroll nicescroll-box">
                                        <ul class="list-group list-unstyled">
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user1.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user2.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user3.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user4.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="assets/images/patients/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                       
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright © Designed &amp; Developed by <a href="#" target="_blank">Feriel&Oumaima</a> 2022-2023
                </p>
            </div>
        </div>
        <!-- End section footer -->


    </div>



</body>


</html>