<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
  
</head>

<body>
    <div id="main-wrapper" class="show">

        <div class="login-tabib">
            <div>
                <div class="text-center">
                    <a class="logo" href="index.html">
                        <img class="img-fluid" src="assets/images/drtech2.png" alt="loogin page">
                    </a>
                </div>
                <div class="login-main">
                    <form class="theme-form">
                        <h4>Créer un compte</h4>
                        <p>Entrer vos informations personnelles</p>
                        <div class="form-group m-b-10">
                            <label class="col-form-label pt-0">Nom & Prénom</label>
                            <div class="row g-2">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group mb-0">
                                        <input class="form-control" type="text" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group mb-0">
                                        <input class="form-control" type="text" placeholder="Prénom">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">Adresse Email</label>
                            <input class="form-control" type="email" placeholder="DrTech@gmail.com">
                        </div>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">Mot de passe</label>
                            <div class="form-input position-relative">
                                <input class="form-control" type="password" placeholder="*********">
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            
                            <a href="index.html" class="btn btn-primary w-100" >Creation de compte</a>
                        </div>
                        <p class="mt-4 mb-0" >Vous avez déjà un compte?<a class="ms-2 text-primary" routerLink="/login-docteur"><span routerLink="/login-docteur">S'identifier</span></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

   

</body>


</html>